{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
{{!-- <div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">1</li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
    </ul>
    <ul>
        <li>5</li>
    </ul>
</div>

<div class="card p-5 m-5 card-light">
    <div class="item">first</div>
    <p class="item">first</p>
    <p class="item">first</p>
    <strong class="item">Test strong</strong>
    <p></p>
    <p class="item">first</p>
    <strong class="item">Test strong</strong>
    <strong class="item">Test strong</strong>
    <strong class="item">Test strong</strong>
    <p class="item">second</p>
    <div class="item">second</div>
</div> --}}

<div class="card p-5 m-5 card-dark">
    <input class="input-dark" required placeholder="this is placeholder">
    <input class="input-dark" type="number">
</div>

<div class="card p-5 m-5 card-dark">
    <img alt="img card small" class="small-img" src="https://picsum.photos/200/300" height="100px">
    <a href="https://picsum.photos/200/300" rel="external">link</a>
    <br>
    <button class="btn">Click me</button>
    <br>
    <a class="small btn btn-primary big" href="https://picsum.photos/200/300">Click me</a>
</div>

<div class="card p-5 m-5 card-dark">
    <p class="big-text">This is text info text This is text info text This is text info text This is text info text</p>
</div>