{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<main class="p-5">

    <div class="p-5 card">
        <p id="test">
            Hello World
        </p>
        <span class="test">Test</span>
    </div>
    <pre>
     jfjhfj
    </pre>
    <div class="block">Block</div>
    <div class="block">Block</div>
    <div class="block">Block</div>
    <div class="block">Block</div>

    <div style="padding: 50px 0 50px 0;background: gray">
        <span class="inline">INLINE</span>
        <span class="inline">INLINE</span>
        <span class="inline">INLINE</span>

        <span class="inline" id="inline-block">INLINEBlock</span>
    </div>
</main>
{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}