:root {
  background: purple;
}

html {
  max-width: 720px;

  background: blue;
}

body {
  background: #fff;
}

* {
  color: red;
}

h1 {
  color: aqua;
}

.box {
  background: khaki;
}

h1,
#user,
button.button#button {
  color: green;
}

h1.button {
  background: red;
  color: black;
}

#user {
  color: blue;
}

.box > P {
  color: white;
}

footer {
  background: khaki;
}

footer > p {
  color: teal;
}

footer > strong {
  color: black;
}

footer em.child,
footer div.child {
  color: blueviolet;
}

h1 + p {
  background: black;
}

h1 ~ p,
h1 ~ * > p {
  background: black;
}
