.card {
}
.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}

p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: rgb(24, 231, 69);
  -webkit-text-stroke: 1px rgb(236, 78, 189);

  direction: rtl;
}

#test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;

  /* writing-mode: vertical-lr; */
  text-align: justify;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: line-through dotted red;
}

pre {
  tab-size: 10px;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

pre {
  font-size: smaller;
  font-weight: 700;
  font-style: oblique;
}

.test {
  display: none;
}

.block {
  font-size: 15px;
}

.inline {
  font-size: 15px;
}

#inline-block {
  display: INLINE-block;
  background: rgb(241, 229, 229);
  /* margin-left: 20px; */
  width: 100%;
  max-width: 500px;
  margin: auto;
  min-height: 50px;
  max-height: 200px;
  padding: 15px;
}
