.card-dark,
.card-light {
  background: #f7eaea;
}

/* .item {
  color: green;
}

li:only-child {
  color: blue;
}

.item:last-child {
  color: rgb(24, 24, 70);
}

.item:first-child {
  color: blue;
}

p:last-of-type,
p:first-of-type {
  color: red;
}

.item:only-of-type {
  color: greenyellow;
}

.item:nth-of-type(2) {
  color: rgb(64, 231, 253);
}

.item:not(p) {
  color: blueviolet;
}

p:empty {
  height: 10px;
  background: red;
} */

.input-dark {
  background: #8f8686;
}

.input-dark[required] {
  background: #cc6363;
}

.input-dark[type='number'] {
  background: #1fd84d;
}

.small-img[alt~='small'] {
  height: 300px;
}

a[rel~='external'] {
  color: rgb(219, 19, 152);
}

button[class|='btn'] {
  background: rgb(243, 203, 188);
}

a[class*='btn'] {
  background: rgb(163, 111, 92);
}

a[class$='big'] {
  background: rgb(30, 22, 102);
}

.btn::first-letter {
  color: rgb(197, 8, 8);
}

.big-text::first-line {
  color: red;
}

.input-dark::placeholder {
  color: #2ea9fc;
}

.big-text::after,
.big-text::before {
  content: '$$$';
  color: rgb(134, 209, 134);
}

#test:target {
  color: red;
}

.link:link {
  color: red;
}

.link:hover {
  color: rgb(48, 56, 48);
}

/* .card:hover {
  background: green;
} */

.link:active {
  color: rgb(236, 214, 236);
}

.card:active {
  background: purple;
}

input {
  background: grey;
}

input:focus {
  background-color: white;
}

.card:focus-within {
  background: red;
}

.card:lang(en) > span::after {
  content: '(en)';
  background: blue;
}

button {
  background-color: #1fd84d;
}

button:enabled {
  background-color: green;
}

button:disabled {
  background-color: #45c27d;
}

.inp:read-write {
  background-color: blue;
}

.inp:read-only {
  background-color: rgb(22, 10, 10);
}

input[type='checkbox']:checked ~ span {
  background: red;
}

.valid:valid {
  background: yellow;
}

.valid:invalid {
  background: red;
}

.valid:optional {
  background: green;
}

.number:out-of-range {
  background: red;
}

.number:in-range {
  background: green;
}

.number:invalid {
  background: red;
}

input:placeholder-shown {
  background: pink;
}
